@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        .col {
            height: 125px;
            margin: 10px;
            transition: opacity 1s;

        }
        .col-sm-2:hover {
            opacity: 1;
        }


        img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0%;
            left: 0;
        }

        .meer_maaltijden {
            border: none;
            color: white;
            border-radius: 10px;
            margin: 5px;
            width: 150px;
            height: 30px;
        }

        .row-1 {
            margin-left: -15px;
            margin-top: -20px;
            padding:0;
        }

        h10 {
            font-weight: bold;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Hoofdpagina</h1>
        <h5>Lorem ipsum..</h5>
        <br />
        <div class="row">
            <div class="col-4">
                <h3>Verse gerechten</h3>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
                <button class="meer_maaltijden bg-primary" style="justify-content:end" type="button" onclick=""> Meer Maaltijden</button>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.posts.Where(e => e.IsBevroren == false))
            {
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col">
                            <a asp-area="Maaltijd" asp-page="/Index" asp-route-id="@item.PostId">
                                <img src="@Model._context.Maaltijden.Find(item.MaaltijdId).Afbeelding" class="rounded-top" type="submit" onclick="" />
                            </a>
                        </div>
                    </div>
                    <div class="row-1">
                        <div class="col rounded-bottom" style="background-color:lightgray; height:40px; width: 10.313rem;">
                            <h10>
                                @item.Naam
                            </h10>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row" style="height: 50px;"></div>
        <div class="row">
            <div class="col-4">
                <h3>Diepvriesgerechten</h3>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
                <button class="meer_maaltijden bg-primary" style="justify-content:end" type="button" onclick=""> Meer Maaltijden</button>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.posts.Where(e => e.IsBevroren == true))
            {
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col">
                            <a asp-area="Maaltijd" asp-page="/Index" asp-route-id="@item.PostId">
                                <img src="@Model._context.Maaltijden.Find(item.MaaltijdId).Afbeelding" class="rounded-top" type="submit" onclick="" />
                            </a>
                        </div>
                    </div>
                    <div class="row-1">
                        <div class="col rounded-bottom" style="background-color:lightgray; height:40px; width: 10.313rem;">
                            <h10>
                                @item.Naam
                            </h10>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>