@page
@model MijnMaaltijdenHerkansing.Pages.MaaltijdenModel
@{ ViewData["Title"] = "Maaltijden"; }

@using Microsoft.AspNetCore.Identity
@using MijnMaaltijdenHerkansing.Data
@using MijnMaaltijdenHerkansing.Models

@inject SignInManager<Gebruiker> SignInManager
@inject UserManager<Gebruiker> UserManager


<style>

    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }

    .col-Gerecht {
        opacity: 0.7;
        transition: opacity 1s;
        background-color: gray;
    }

    .col-Gerecht:hover {
        opacity: 1;
    }

    h7 {
        font-weight: bold;
    }

</style>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1>Maaltijden</h1>
            </div>
        </div>

        @*dit behouden voor de zekerheid
            <div class="row justify-content-between w-100">
                @foreach (Models.Post item in Model.Posts)
                {
                    <div class="col-sm-4 mb-4">
                        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                            <div class="col-Gerecht m-2">
                                <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="mw-100" type="submit" onclick="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-Beschrijving m-2">
                                <h7>@item.Beschrijving</h7>
                            </div>
                        </div>
                    </div>}
            </div>*@


        <div class="row justify-content-between w-100">
            @foreach (Post item in Model.Posts)
            {
                <div class="col-sm-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <a asp-area="Maaltijd" asp-page="/Index" asp-route-id="@item.PostId">
                        <img src="@Model._context.Maaltijden.Find(item.MaaltijdId).Afbeelding" class="card-img-top mw-100" type="submit"/>
                        </a>
                        <div class="card-body">     
                            <h7>@item.Beschrijving</h7>
                        </div>
                    </div>
                </div>
            }




            @*dit behouden voor de zekerheid
                <div class="row justify-content-between w-100">
                    @foreach (Models.Post item in Model.Posts)
                    {
                        <div class="col-sm-4 mb-4">
                            <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                                <div class="col-Gerecht m-2">
                                    <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="mw-100" type="submit" onclick="" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-Beschrijving m-2">
                                    <h7>@item.Beschrijving</h7>
                                </div>
                            </div>
                        </div>}
                </div>*@
            @*
                    Dit behouden voor zekerheid
                    <div class="col-sm-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/meals/prei-stamppot-met-kip-ketjap-418x315.jpg" class="card-img-top mw-100" type="submit" onclick="" />
                        <div class="card-body">
                            <p class="card-text">ahahahahahahahahahahahahah</p>
                        </div>
                    </div>
                </div>*@
        </div>
        <br>
    </div>
</body>
